<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobike - Estadísticas de ganancias</title>
    <link rel="stylesheet" href="../css/admin.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="fondo">
        <div class="container-fluid">
            <div class="jumbotron" id="header">
                <a href="../Template/admin.html"><img id="logo_mobike" src="../img/Logotipo.png" alt="logo"></a>
            </div>
            <br>

            <div class="inicio_admin">
                <h2>Estadísticas de ganancias</h2>
                <br>
                <br>
                <div class="row">
                    <div class="col">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Mes</th>
                                    <th>Monto total año pasado</th>
                                    <th>Monto total año actual</th>
                                    <th>Ganancias</th>
                                    <th>Crecimiento</th>
                                </tr>
                                <tr>
                                    <td>Enero</td>
                                    <td>$52.635.145</td>
                                    <td>$85.365.698</td>
                                    <td>$32.730.553</td>
                                    <td>62.18%</td>
                                </tr>
                                <tr>
                                    <td>Febreo</td>
                                    <td>$65.154.645</td>
                                    <td>$75.425.168</td>
                                    <td>$10.270.523</td>
                                    <td>15.76%</td>
                                </tr>
                                <tr>
                                    <td>Marzo</td>
                                    <td>$100.157.365</td>
                                    <td>$89.345.751</td>
                                    <td>$10.811.614</td>
                                    <td>10.79%</td>
                                </tr>
                                <tr>
                                    <td>Abril</td>
                                    <td>$99.524.483</td>
                                    <td>$78.254.364</td>
                                    <td>$21.270.119</td>
                                    <td>21.37%</td>
                                </tr>
                                <tr>
                                    <td>Mayo</td>
                                    <td>$102.845.002</td>
                                    <td>$98.157.254</td>
                                    <td>$4.687.748</td>
                                    <td>4.55%</td>
                                </tr>
                                <tr>
                                    <td>Junio</td>
                                    <td>$85.254.451</td>
                                    <td>$65.154.850</td>
                                    <td>$20.099.601</td>
                                    <td>23.57%</td>
                                </tr>
                                <tr>
                                    <td>Julio</td>
                                    <td>$76.157.600</td>
                                    <td>$65.002.487</td>
                                    <td>$11.155.113</td>
                                    <td>14.64%</td>
                                </tr>
                                <tr>
                                    <td>Agosto</td>
                                    <td>$103.454.268</td>
                                    <td>$94.268.845</td>
                                    <td>$9.185.423</td>
                                    <td>8.87%</td>
                                </tr>
                                <tr>
                                    <td>Septiembre</td>
                                    <td>$79.298.378</td>
                                    <td>$75.359.487</td>
                                    <td>$3.938.891</td>
                                    <td>4.96%</td>
                                </tr>
                                <tr>
                                    <td>Octubre</td>
                                    <td>$111.785.269</td>
                                    <td>$80.248.960</td>
                                    <td>$31.536.309</td>
                                    <td>28.21%</td>
                                </tr>
                                <tr>
                                    <td>Noviembre</td>
                                    <td>$109.268.268</td>
                                    <td>$5.659.598</td>
                                    <td>$103.608.670</td>
                                    <td>94.82%</td>
                                </tr>
                                <tr>
                                    <td>Diciembre</td>
                                    <td>$150.597.369</td>
                                    <td>$0</td>
                                    <td>0%</td>
                                </tr>
                            </thead>
                            <tbody id="tbody-usuarios">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="fixed-bottom row align-items-center justify-content-around" id="footer">
                <div class="col-sm-5">
                    <p>Copyright &copy; 2020 &mdash; MoBike</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>