<!DOCTYPE html>
<html>

<head>
	<title>Mobike - Iniciar sesión</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/style_inicio_sesion.css">
</head>

<body>
	<div class="fondo">
		<div class="container-fluid">
			<div class="row align-items-center justify-content-between" id="header">
				<a href="../pages/index.html"><img id="logo_mobike" class="col-sm-6 col-md-2" src="../img/Logotipo.png" alt="logo"></a>
			</div>
			<br>
			<div class="">
				<form id=" ">
					<label>Inicio de sesión</label>
					<p>Email:<input type="email" name="email" id="email" placeholder="Ingrese su email"></p>
					<p>Contraseña:<input type="password" name="contraseña" id="txtContraseña" placeholder="Ingrese su contraseña"></p>
					<input type="submit" id="btnIngresar" value="Iniciar Sesión">
					<a href="#">
						<p>¿Olvidaste tu contraseña?
					</a>
				</form>
			</div>
			<div>
				<a href="../pages/index.html"><img id="back-img" src="https://image.flaticon.com/icons/png/512/93/93634.png"></a>
			</div>
		</div>
	</div>



	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="https://www.gstatic.com/firebasejs/5.5.8/firebase.js"></script>

	<script type="text/javascript" src="../js/inicio_sesion.js"></script>
</body>

</html>